name: build_cli
version: 2.2.4-wip
description: >-
  Parse command line arguments directly into an annotation class
  using the power of build_runner and source_gen.
homepage: https://github.com/kevmoo/build_cli

environment:
  sdk: ^3.5.0

resolution: workspace

dependencies:
  analyzer: ^6.5.0
  build: ^2.4.1
  # Limit version range on build_cli_annotations
  # new features need to stay in sync
  build_cli_annotations: '>=2.1.0 <2.2.0'
  build_config: ^1.1.0
  pub_semver: ^2.1.4
  source_gen: ^1.4.0
  source_helper: ^1.3.4
  yaml: ^3.1.0

dev_dependencies:
  # Args is exported and restricted by `build_cli_annotation`, but tests in this
  # package assume the output of features in ^2.0.0
  args: ^2.6.0
  build_runner: ^2.4.6
  build_verify: ^3.0.0
  dart_flutter_team_lints: ^3.0.0
  io: ^1.0.0
  path: ^1.9.0
  source_gen_test: ^1.0.6
  test: ^1.24.4
