name: build_cli
version: 1.3.10
description: >-
  Parse command line arguments directly into an annotation class
  using the power of build_runner and source_gen.
homepage: https://github.com/kevmoo/build_cli

environment:
  sdk: '>=2.11.99 <3.0.0'

dependencies:
  analyzer: '>=0.41.2 <2.0.0'
  build: ^1.0.0
  # Limit version range on build_cli_annotations
  # new features need to stay in sync

  build_cli_annotations: ^2.0.0
  build_config: '>=0.3.0 <0.5.0'
  meta: ^1.1.0
  pub_semver: ^1.3.0
  source_gen: ^0.9.0
  yaml: ^2.1.0

dev_dependencies:
  # Args is exported and restricted by `build_cli_annotation`, but tests in this
  # package assume the output of features in ^2.0.0
  args: ^2.0.0
  build_runner: ^1.0.0
  build_verify: ^1.0.0
  io: ^0.3.2
  path: ^1.0.0
  source_gen_test: ^0.1.0
  test: ^1.0.0
