name: build_cli
version: 0.2.4-dev
description: >-
  Parse command line arguments directly into an annotation class
  using the power of build_runner and source_gen.
author: Kevin Moore <github@j832.com>
homepage: https://github.com/kevmoo/build_cli

environment:
  sdk: '>=2.0.0-dev.48 <2.0.0'

dependencies:
  analyzer: ^0.32.0
  build: '>=0.9.0 <0.13.0'
  # Limit version range on build_cli_annotations
  # new features need to stay in sync
  build_cli_annotations: '>=0.1.2 <0.1.3'
  build_config: '>=0.2.6 <0.4.0'
  meta: ^1.1.0
  pub_semver: ^1.3.0
  source_gen: '>=0.8.1 <0.9.0'
  yaml: ^2.1.0

dev_dependencies:
  build_runner: ^0.8.2
  dart_style: # Skipping version here - brings in alpha analyzer
  io: ^0.3.2
  path: ^1.5.1
  test: ^0.12.0
