name: build_cli
version: 0.1.1-dev
description: >-
  Parse command line arguments directly into an annotation class
  using the power of build_runner and source_gen.
author: Kevin Moore <github@j832.com>
homepage: https://github.com/kevmoo/build_cli

environment:
  sdk: '>=2.0.0-dev <2.0.0'

dependencies:
  analyzer: '>=0.29.10 <0.32.0'
  build: '>=0.9.0 <0.13.0'
  # Limit version range on build_cli_annotations
  # new features need to stay in sync
  build_cli_annotations: '>=0.1.0 <0.1.1'
  build_config: ^0.2.1
  source_gen: '>=0.7.6 <0.9.0'

dev_dependencies:
  build_runner: ^0.8.0
  test: ^0.12.0
