# Created with package:mono_repo v5.0.1
name: Dart CI
on:
  push:
    branches:
      - main
      - master
  pull_request:
  schedule:
    - cron: "0 0 * * 0"
defaults:
  run:
    shell: bash
env:
  PUB_ENVIRONMENT: bot.github

jobs:
  job_001:
    name: mono_repo self validate
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v2.1.6
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;dart:stable"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.1
        with:
          sdk: stable
      - id: checkout
        uses: actions/checkout@v2.3.4
      - name: mono_repo self validate
        run: dart pub global activate mono_repo 5.0.1
      - name: mono_repo self validate
        run: dart pub global run mono_repo generate --validate
  job_002:
    name: "analyzer_and_format; Dart 2.12.0; PKGS: build_cli, build_cli_annotations; `dart analyze --fatal-infos .`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v2.1.6
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;dart:2.12.0;packages:build_cli-build_cli_annotations;commands:analyze"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;dart:2.12.0;packages:build_cli-build_cli_annotations
            os:ubuntu-latest;pub-cache-hosted;dart:2.12.0
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.1
        with:
          sdk: "2.12.0"
      - id: checkout
        uses: actions/checkout@v2.3.4
      - id: build_cli_pub_upgrade
        name: build_cli; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: build_cli
        run: dart pub upgrade
      - name: "build_cli; dart analyze --fatal-infos ."
        if: "always() && steps.build_cli_pub_upgrade.conclusion == 'success'"
        working-directory: build_cli
        run: dart analyze --fatal-infos .
      - id: build_cli_annotations_pub_upgrade
        name: build_cli_annotations; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: build_cli_annotations
        run: dart pub upgrade
      - name: "build_cli_annotations; dart analyze --fatal-infos ."
        if: "always() && steps.build_cli_annotations_pub_upgrade.conclusion == 'success'"
        working-directory: build_cli_annotations
        run: dart analyze --fatal-infos .
    needs:
      - job_001
  job_003:
    name: "analyzer_and_format; Dart 2.12.0; PKGS: build_cli, build_cli_annotations; `dart format --output=none --set-exit-if-changed .`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v2.1.6
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;dart:2.12.0;packages:build_cli-build_cli_annotations;commands:format"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;dart:2.12.0;packages:build_cli-build_cli_annotations
            os:ubuntu-latest;pub-cache-hosted;dart:2.12.0
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.1
        with:
          sdk: "2.12.0"
      - id: checkout
        uses: actions/checkout@v2.3.4
      - id: build_cli_pub_upgrade
        name: build_cli; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: build_cli
        run: dart pub upgrade
      - name: "build_cli; dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.build_cli_pub_upgrade.conclusion == 'success'"
        working-directory: build_cli
        run: "dart format --output=none --set-exit-if-changed ."
      - id: build_cli_annotations_pub_upgrade
        name: build_cli_annotations; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: build_cli_annotations
        run: dart pub upgrade
      - name: "build_cli_annotations; dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.build_cli_annotations_pub_upgrade.conclusion == 'success'"
        working-directory: build_cli_annotations
        run: "dart format --output=none --set-exit-if-changed ."
    needs:
      - job_001
  job_004:
    name: "analyzer_and_format; Dart dev; PKGS: build_cli, build_cli_annotations; `dart analyze --fatal-infos .`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v2.1.6
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:build_cli-build_cli_annotations;commands:analyze"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:build_cli-build_cli_annotations
            os:ubuntu-latest;pub-cache-hosted;dart:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.1
        with:
          sdk: dev
      - id: checkout
        uses: actions/checkout@v2.3.4
      - id: build_cli_pub_upgrade
        name: build_cli; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: build_cli
        run: dart pub upgrade
      - name: "build_cli; dart analyze --fatal-infos ."
        if: "always() && steps.build_cli_pub_upgrade.conclusion == 'success'"
        working-directory: build_cli
        run: dart analyze --fatal-infos .
      - id: build_cli_annotations_pub_upgrade
        name: build_cli_annotations; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: build_cli_annotations
        run: dart pub upgrade
      - name: "build_cli_annotations; dart analyze --fatal-infos ."
        if: "always() && steps.build_cli_annotations_pub_upgrade.conclusion == 'success'"
        working-directory: build_cli_annotations
        run: dart analyze --fatal-infos .
    needs:
      - job_001
  job_005:
    name: "analyzer_and_format; Dart dev; PKGS: build_cli, build_cli_annotations; `dart format --output=none --set-exit-if-changed .`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v2.1.6
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:build_cli-build_cli_annotations;commands:format"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:build_cli-build_cli_annotations
            os:ubuntu-latest;pub-cache-hosted;dart:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.1
        with:
          sdk: dev
      - id: checkout
        uses: actions/checkout@v2.3.4
      - id: build_cli_pub_upgrade
        name: build_cli; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: build_cli
        run: dart pub upgrade
      - name: "build_cli; dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.build_cli_pub_upgrade.conclusion == 'success'"
        working-directory: build_cli
        run: "dart format --output=none --set-exit-if-changed ."
      - id: build_cli_annotations_pub_upgrade
        name: build_cli_annotations; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: build_cli_annotations
        run: dart pub upgrade
      - name: "build_cli_annotations; dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.build_cli_annotations_pub_upgrade.conclusion == 'success'"
        working-directory: build_cli_annotations
        run: "dart format --output=none --set-exit-if-changed ."
    needs:
      - job_001
  job_006:
    name: "unit_test; Dart 2.12.0; PKG: build_cli; `dart test --run-skipped --reporter expanded`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v2.1.6
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;dart:2.12.0;packages:build_cli;commands:test"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;dart:2.12.0;packages:build_cli
            os:ubuntu-latest;pub-cache-hosted;dart:2.12.0
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.1
        with:
          sdk: "2.12.0"
      - id: checkout
        uses: actions/checkout@v2.3.4
      - id: build_cli_pub_upgrade
        name: build_cli; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: build_cli
        run: dart pub upgrade
      - name: "build_cli; dart test --run-skipped --reporter expanded"
        if: "always() && steps.build_cli_pub_upgrade.conclusion == 'success'"
        working-directory: build_cli
        run: dart test --run-skipped --reporter expanded
    needs:
      - job_001
      - job_002
      - job_003
      - job_004
      - job_005
  job_007:
    name: "unit_test; Dart dev; PKG: build_cli; `dart test --run-skipped --reporter expanded`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v2.1.6
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:build_cli;commands:test"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:build_cli
            os:ubuntu-latest;pub-cache-hosted;dart:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.1
        with:
          sdk: dev
      - id: checkout
        uses: actions/checkout@v2.3.4
      - id: build_cli_pub_upgrade
        name: build_cli; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: build_cli
        run: dart pub upgrade
      - name: "build_cli; dart test --run-skipped --reporter expanded"
        if: "always() && steps.build_cli_pub_upgrade.conclusion == 'success'"
        working-directory: build_cli
        run: dart test --run-skipped --reporter expanded
    needs:
      - job_001
      - job_002
      - job_003
      - job_004
      - job_005
