# Created with package:mono_repo v6.6.3
name: Dart CI
on:
  push:
    branches:
      - main
      - master
  pull_request:
  schedule:
    - cron: "0 0 * * 0"
defaults:
  run:
    shell: bash
env:
  PUB_ENVIRONMENT: bot.github
permissions: read-all

jobs:
  job_001:
    name: mono_repo self validate
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:stable"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
          sdk: stable
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: mono_repo self validate
        run: dart pub global activate mono_repo 6.6.3
      - name: mono_repo self validate
        run: dart pub global run mono_repo generate --validate
  job_002:
    name: "analyzer_and_format; Dart 3.8.0; PKGS: build_cli, build_cli_annotations; `dart analyze --fatal-infos .`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:3.8.0;packages:build_cli-build_cli_annotations;commands:analyze"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:3.8.0;packages:build_cli-build_cli_annotations
            os:ubuntu-latest;pub-cache-hosted;sdk:3.8.0
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
          sdk: "3.8.0"
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - id: build_cli_pub_upgrade
        name: build_cli; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: build_cli
      - name: "build_cli; dart analyze --fatal-infos ."
        run: dart analyze --fatal-infos .
        if: "always() && steps.build_cli_pub_upgrade.conclusion == 'success'"
        working-directory: build_cli
      - id: build_cli_annotations_pub_upgrade
        name: build_cli_annotations; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: build_cli_annotations
      - name: "build_cli_annotations; dart analyze --fatal-infos ."
        run: dart analyze --fatal-infos .
        if: "always() && steps.build_cli_annotations_pub_upgrade.conclusion == 'success'"
        working-directory: build_cli_annotations
    needs:
      - job_001
  job_003:
    name: "analyzer_and_format; Dart 3.8.0; PKGS: build_cli, build_cli_annotations; `dart format --output=none --set-exit-if-changed .`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:3.8.0;packages:build_cli-build_cli_annotations;commands:format"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:3.8.0;packages:build_cli-build_cli_annotations
            os:ubuntu-latest;pub-cache-hosted;sdk:3.8.0
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
          sdk: "3.8.0"
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - id: build_cli_pub_upgrade
        name: build_cli; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: build_cli
      - name: "build_cli; dart format --output=none --set-exit-if-changed ."
        run: "dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.build_cli_pub_upgrade.conclusion == 'success'"
        working-directory: build_cli
      - id: build_cli_annotations_pub_upgrade
        name: build_cli_annotations; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: build_cli_annotations
      - name: "build_cli_annotations; dart format --output=none --set-exit-if-changed ."
        run: "dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.build_cli_annotations_pub_upgrade.conclusion == 'success'"
        working-directory: build_cli_annotations
    needs:
      - job_001
  job_004:
    name: "analyzer_and_format; Dart dev; PKGS: build_cli, build_cli_annotations; `dart analyze --fatal-infos .`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:build_cli-build_cli_annotations;commands:analyze"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:build_cli-build_cli_annotations
            os:ubuntu-latest;pub-cache-hosted;sdk:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
          sdk: dev
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - id: build_cli_pub_upgrade
        name: build_cli; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: build_cli
      - name: "build_cli; dart analyze --fatal-infos ."
        run: dart analyze --fatal-infos .
        if: "always() && steps.build_cli_pub_upgrade.conclusion == 'success'"
        working-directory: build_cli
      - id: build_cli_annotations_pub_upgrade
        name: build_cli_annotations; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: build_cli_annotations
      - name: "build_cli_annotations; dart analyze --fatal-infos ."
        run: dart analyze --fatal-infos .
        if: "always() && steps.build_cli_annotations_pub_upgrade.conclusion == 'success'"
        working-directory: build_cli_annotations
    needs:
      - job_001
  job_005:
    name: "analyzer_and_format; Dart dev; PKGS: build_cli, build_cli_annotations; `dart format --output=none --set-exit-if-changed .`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:build_cli-build_cli_annotations;commands:format"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:build_cli-build_cli_annotations
            os:ubuntu-latest;pub-cache-hosted;sdk:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
          sdk: dev
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - id: build_cli_pub_upgrade
        name: build_cli; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: build_cli
      - name: "build_cli; dart format --output=none --set-exit-if-changed ."
        run: "dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.build_cli_pub_upgrade.conclusion == 'success'"
        working-directory: build_cli
      - id: build_cli_annotations_pub_upgrade
        name: build_cli_annotations; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: build_cli_annotations
      - name: "build_cli_annotations; dart format --output=none --set-exit-if-changed ."
        run: "dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.build_cli_annotations_pub_upgrade.conclusion == 'success'"
        working-directory: build_cli_annotations
    needs:
      - job_001
  job_006:
    name: "unit_test; Dart 3.8.0; PKG: build_cli; `dart test --run-skipped --tags presubmit-only`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:3.8.0;packages:build_cli;commands:test_1"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:3.8.0;packages:build_cli
            os:ubuntu-latest;pub-cache-hosted;sdk:3.8.0
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
          sdk: "3.8.0"
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - id: build_cli_pub_upgrade
        name: build_cli; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: build_cli
      - name: "build_cli; dart test --run-skipped --tags presubmit-only"
        run: dart test --run-skipped --tags presubmit-only
        if: "always() && steps.build_cli_pub_upgrade.conclusion == 'success'"
        working-directory: build_cli
    needs:
      - job_001
      - job_002
      - job_003
      - job_004
      - job_005
  job_007:
    name: "unit_test; Dart 3.8.0; PKG: build_cli; `dart test`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:3.8.0;packages:build_cli;commands:test_0"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:3.8.0;packages:build_cli
            os:ubuntu-latest;pub-cache-hosted;sdk:3.8.0
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
          sdk: "3.8.0"
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - id: build_cli_pub_upgrade
        name: build_cli; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: build_cli
      - name: build_cli; dart test
        run: dart test
        if: "always() && steps.build_cli_pub_upgrade.conclusion == 'success'"
        working-directory: build_cli
    needs:
      - job_001
      - job_002
      - job_003
      - job_004
      - job_005
  job_008:
    name: "unit_test; Dart dev; PKG: build_cli; `dart test --run-skipped --tags presubmit-only`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:build_cli;commands:test_1"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:build_cli
            os:ubuntu-latest;pub-cache-hosted;sdk:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
          sdk: dev
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - id: build_cli_pub_upgrade
        name: build_cli; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: build_cli
      - name: "build_cli; dart test --run-skipped --tags presubmit-only"
        run: dart test --run-skipped --tags presubmit-only
        if: "always() && steps.build_cli_pub_upgrade.conclusion == 'success'"
        working-directory: build_cli
    needs:
      - job_001
      - job_002
      - job_003
      - job_004
      - job_005
  job_009:
    name: "unit_test; Dart dev; PKG: build_cli; `dart test`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:build_cli;commands:test_0"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:build_cli
            os:ubuntu-latest;pub-cache-hosted;sdk:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
          sdk: dev
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - id: build_cli_pub_upgrade
        name: build_cli; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: build_cli
      - name: build_cli; dart test
        run: dart test
        if: "always() && steps.build_cli_pub_upgrade.conclusion == 'success'"
        working-directory: build_cli
    needs:
      - job_001
      - job_002
      - job_003
      - job_004
      - job_005
